/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

body {
	line-height: 1;
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.headerAreaInner{
    width: 1000px;
    margin:0 auto;

}
.artcle-wrap{
    width: 1000px;
	margin:0 auto;
}

.profileArea{
	width: 60%;
	margin: 0 auto;
	
}

.profileArea img{
	width: 270px;
}

.skillArea{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.skillArea .skill{
	width: 33.3%;
	word-wrap: break-word;

}

.headerArea a{
	color: white;
	text-decoration: none;
	display: block;
}

.headerArea a:hover{
	opacity: 0.5;
}

.headerArea{
	height: 45px;
	color: white;
	background: rgba(45,45,45,0.98);
}

nav ul{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	
}
nav ul li{
	width: 16.6%;
	font-size: 14px;
	text-align: center;
    line-height: 3.5em;
}


.profileImg, .profileText{
	float: left;
	width: 100%;

}